[keyboard]
name = "Souffle RMK"
product_name = "Souffle RMK"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "haobo"
chip = "nrf52840"

[layout]
rows = 5
cols = 12
layers = 3
matrix_map = """
(0,0) (0,1) (0,2) (0,3) (0,4) (0,5)                 (0,6) (0,7) (0,8)  (0,9) (0,10) (0,11)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5)                 (1,6) (1,7) (1,8)  (1,9) (1,10) (1,11)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5)                 (2,6) (2,7) (2,8)  (2,9) (2,10) (2,11)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (4,5) (4,6) (3,6) (3,7) (3,8)  (3,9) (3,10) (3,11)
                (4,0) (4,1) (4,2) (4,3) (4,4) (4,7) (4,8) (4,9) (4,10) (4,11)
"""

[aliases]
yal = "WM(Y, RAlt)"
pal = "WM(P, RAlt)"
qal = "WM(Q, RAlt)"
sal = "WM(S, RAlt)"
fal = "WM(5, RAlt)"
l2 = "MO(second_layer)"
l3 = "MO(third_layer)"
tty1 = "WM(F1, LCtrl | LAlt)"
tty2 = "WM(F2, LCtrl | LAlt)"
tty3 = "WM(F3, LCtrl | LAlt)"
tty4 = "WM(F4, LCtrl | LAlt)"
tty5 = "WM(F5, LCtrl | LAlt)"
tty6 = "WM(F6, LCtrl | LAlt)"
tty7 = "WM(F7, LCtrl | LAlt)"

[[layer]]
name = "base_layer"
keys = """
Esc        1    2    3    4    5               6    7    8     9    0          Equal
Tab        Q    W    F    P    B               J    L    U     Y    Semicolon  Minus
Backspace  A    R    S    T    G               M    N    E     I    O          Quote
LShift     Z    X    C    D    V    [      ]   K    H    Comma Dot  Slash      RShift
                   B LGui @l2 Space LCtrl  Enter LAlt @l2 End B
"""

[[layer]]
name = "second_layer"
keys = """
______ ______ ______ ______ ______  @fal                  ______ ______ ______ ______ ______ Grave
______  @qal  ______ ______  @pal  ______                  pgup  ______   Up    @yal  ______ Backslash
 del   ______ ______  @sal  ______ ______                  pgdn   Left   Down   Right ______ ______
______ ______ ______ ______ ______ ______ ______   ______ ______ ______ ______ ______ ______ ______
______               ______ ______  @l3   ______   ______  @l3   ______  Home                ______
"""

[[layer]]
name = "third_layer"
keys = """
 mute    F1     F2     F3     F4     F5                     F6     F7     F8     F9    F10    pscr
______   F11    F12  ______ ______ ______                 ______ ______ ______ ______ ______ ______
______ ______ ______ ______ ______ ______                 ______ ______ ______ ______ ______ ______
______ @tty1  @tty2  @tty3  @tty4  @tty5                  @tty6  @tty7  ______ ______ ______ ______
______               ______ ______ ______ ______   ______ ______ ______ ______               ______
"""

[behavior.combo]
timeout = "150ms"
combos = [
  { actions = ["LShift", "RShift"], output = "CapsLock" },
]

# [storage]
# enabled=true
# # clear_storage = true
# clear_layout = true

[ble]
enabled = true
default_tx_power = 4

[split]
connection = "ble"

[split.central]
rows = 0
cols = 0
row_offset = 0
col_offset = 0
[split.central.matrix]
matrix_type = "normal"
row_pins = []
col_pins = []

[[split.peripheral]]
rows = 5
cols = 6
row_offset = 0
col_offset = 0
# ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]
[split.peripheral.matrix]
matrix_type = "normal"
debouncer = "fast"
## promicro pin
##             5        6        7        8        9
row_pins = ["P0_24", "P1_00", "P0_11", "P1_04", "P1_06"]
## promicro pin
##             19       18      15       14       16       10
col_pins = ["P0_02", "P1_15","P1_13", "P1_11", "P0_10", "P0_09"]

[[split.peripheral]]
rows = 5
cols = 6
row_offset = 0
col_offset = 6
# ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]
[split.peripheral.matrix]
matrix_type = "normal"
debouncer = "fast"
## promicro pin
##             5        6        7        8        9
row_pins = ["P0_24", "P1_00", "P0_11", "P1_04", "P1_06"]
## promicro pin
##             10       16       14       15       18       19
col_pins = ["P0_09", "P0_10", "P1_11", "P1_13", "P1_15", "P0_02"]

[rmk]
debounce_time = 35
